.about_article {
  font-family: 'Fira Sans', sans-serif;
  color: #edeff1;
  padding: 20px 100px;
}

.about_title {
  font-size: 50px;
  margin-top: 10px;
}

.about_paragraph {
  font-size: 25px;
}

.stack_section {
  display:flex;
  flex-direction: column;
  border: #2c2c2c 1px solid;
  max-width: 900px;
  padding: 50px;
}

.current_stack{
  margin-bottom: 50px;
}

.stack_title {
  font-size: 20px;
}

.stack_div {
  display:flex;
}

@media screen and (max-width: 800px) {
  .about_article {
    width: 300px;
    display: fixed;
    left: 0px;
    margin-top: 60px;
    padding: 0px;
    height: 500px;
  }
  
  .about_title {
    font-size: 20px;
  }
  
  .about_paragraph {
    font-size: 15px;
  }
  
  .stack_section {
    border: #2c2c2c 1px solid;
    padding: 20px;
  }

  .stack_title {
    font-size: 50px;
  }
  
  .current_stack{
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px;
  }

  .future_stack {
    display: flex;
    flex-wrap: wrap;
  }
  
  .stack_title {
    font-size: 20px;
  }
  
  .stack_div {
    display:flex;
  }
}
