@media screen and (min-width: 1024px) {

  .body_container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 12% 88%;
    grid-template-areas: "menu_aside main_page";
    gap: 0px 0px;
    width: 100vw;
    height: 100vh;
  }

  .menu_aside {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 80px 80px 80px 80px 80px;
    gap: 0px 0px;
    grid-template-areas:
      "avatar"
      "void"
      "intro"
      "about"
      "projects"
      "contact";
    grid-area: menu_aside;
    
    background-color: #111111;
  }

  .main_page {
    grid-area: main_page;
    background-color: #1A1A1A;
    color: #BEBEBE;
  }

  .avatar {
    grid-area: avatar;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #BEBEBE;
  }

  .avatar_img {
    width: 150px;
    margin-top: 35px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 90px;
  }

  .avatar_name {
    margin-top: 15px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 25px;
  }

  .avatar_title {
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
  }

  .void {
    grid-area: void;
    border-bottom: #1A1A1A 1px solid;
  }

  .intro {
    grid-area: intro;
    border-bottom: #1A1A1A 1px solid;
    display: flex;
  }

  .about {
    grid-area: about;
    border-bottom: #1A1A1A 1px solid;
    display: flex;
  }

  .projects {
    grid-area: projects;
    border-bottom: #1A1A1A 1px solid;
    display: flex;
  }

  .contact {
    grid-area: contact;
    border-bottom: #1A1A1A 1px solid;
    display: flex;
  }

  .close_menu {
    width: 1px;
    height: 1px;
    opacity: 0;
    display: inline;
  }
}

@media screen and (min-width: 2000px) {
  .body_container {
    grid-template-columns: 9% 91%;

  }
}