@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap');
@import './desktop.css';
@import './mobile.css';
@import './navLabel.css';

body {
  background-color: #1A1A1A;
  margin: 0px;
  padding: 0px;
}