.api_link {
  text-decoration: none;
}

.api_card_div {
  display: flex;
  width: 350px;
  height: 100px;
  margin: 10px;
  border: solid 1px #919191;
  border-radius: 5px;
  color: #BEBEBE;
}

.api_img_div {
  width: 100;
  margin: 0px 10px;
  display: flex;
}

.api_img {
  width: 80px;
}

.api_info_div {
  display: flex;
  flex-direction: column;
}

.api_title {
  margin: 5px auto 15px;
  font-size: 20px;
  font-family: 'Fira Code', monospace
}

.api_stack_div {
  width: 200px;
  display: flex;
  justify-content: space-around;
}

.api_stackUsed {
  width: 25px;
}

@media screen and (max-width: 800px) {
  .api_card_div {
    width: 325px;
    margin: 4px 0px;
    align-items: center;
  }
  
  .api_img_div {
    width: 90px;
    margin: 0px 10px;
  }
  
  .api_img {
    width: 80px;
  }
  
  .api_info_div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .api_title {
    margin: 5px 0px 18px;
    font-size: 14px;
  }
  
  .api_stack_div {
    width: 180px;
  }
  
  .api_stackUsed {
    width: 30px;
  }
}