.project_div {
  border: solid 1px #919191;
  margin: 15px 15px;
  border-radius: 5px;
  width: 280px;
  height: 380px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.project_img {
  width: 280px;
  height: 250px;
  border-radius: 5px;
}

.project_title {
  margin: 5px 0px 10px;
  font-size: 20px;
  font-family: 'Fira Code', monospace
}

.project_info_div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.stackUsed_div {
  width: 100px;
  display: flex;
  justify-content: space-around;
}

.stack_used {
  width: 30px;
}

.btns_div {
  width: 250px;
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 800px) {
  .project_div {
    margin: 15px 5px;
    width: 160px;
    height: 245px;
    align-items: center;
  }
  
  .project_img {
    width: 160px;
    height: 150px;
  }
  
  .project_title {
    margin: 5px 0px 8px;
    font-size: 14px;
  }
  
  .project_info_div {
    height: 80px;
  }
  
  .stack_used {
    width: 20px;
    margin-bottom: 15px;
  }
  
  .btns_div {
    width: 160px;
    margin-top: 0px;
    justify-content: space-around;
    font-size: 5px;
  }
}
